<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

    <title>Kotlin Mix</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>
<body>
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--<div class="col-md-12">-->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><b>MIX-IT</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/" class="smothscroll">Thymeleaf</a></li>
                    <li ><a href="/angular" class="smothscroll">Angular</a></li>
                    <li ><a href="/" class="smothscroll">Kotlinx</a></li>
                    <li><a href="#contact" class="smothScroll">Contact</a></li>
                </ul>
            </div>
        </div>
    <!--</div>-->
</div>
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <h1 class="col-md-12">Kotlin Mix</h1>
        </div>
    </div>
</div>
<section id="home"></section>
<div class="container">
    <div class="row">

        <div class="hotel col-md-6" th:each="hotel : ${hotels}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${hotel.name}">Le nom de l'hotel</h3>
                </div>
                <div class="panel-body" th:inline="text">
                    [[${hotel.address}]]<br/>
                    [[${hotel.zip}]] [[${hotel.city.name}]]<br/>
                    [[${hotel.city.country}]]
                </div>
            </div>
        </div>
    </div>
</div>
<section id="contact" name="contact"></section>
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Gaetan Zoritchak</h3>
                <p>
                    <a href="https://twitter.com/gz_k">twitter.com/gz_k</a><br/>
                    <a href="mailto:g.zoritchak@gmail.com">g.zoritchak@gmail.com</a><br/>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
